@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Poppins&family=Roboto:ital@0;1&display=swap");

/* 
font-family: "Roboto", sans-serif;
font-family: "DM Sans", sans-serif;
font-family: "Poppins", sans-serif;
 */

.img-fluid {
  width: 100%;
}

#posts {
  margin-bottom: 5em;
}

.grid {
  margin: 0 auto;
}

.grid .grid-item {
  width: calc(33.33333% - 20px);
  margin-bottom: 3em;
}
