{% extends 'base.html' %} 
{% load static %}

{% block title %} My blog {% endblock %} 

{% block css_files %} <link rel="stylesheet" href="{% static 'blog/style.css' %}"> {% endblock %}

{% block content %}
<!-- Blog posts section -->
  <section id='posts'>
    <div class='container'>
      <div class='grid'>
        <!-- article  -->
         {% for blog in blogs %}
        <div class='grid-item'>
          <article class='article'>
            <div class='card'>
              <div class="overflow-img">
                <a href="{{ blog.get_absolute_url }}">
                  <img src="{{ blog.img.url }}" alt="{{ blog.title }}" class="img-fluid">
                </a>
              </div>
              <div class="card-body text-center px-1">
                <a href="" class="text-title display-1 text-dark">{{ blog.title }}</a>
                <p class="secondary-title text-secondary display-3">
                  <span><i class="far fa-clock text-primary"></i>Clock {{blog.created_at}}</span>
                  <span><i class="far fa-comments text-primary"></i>12</span>
                </p>
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
        <!-- article  -->
      </div>
    </div>
  </section>
  <!-- Blog posts section -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
